html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active,
.show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #b9b1b8 !important;
    border-color: #b9b1b8 !important;
}

.customheadgrid {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(1,#1f4b65),color-stop(0,#83b7b7));
    border-color: black;
    border-radius: 2px;
    color: white !important;
}
#customsidegrid{

}