
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


   
   <div class="container-fluid">
    <h4 class="box" style="color:#157070;">DashBoard</h4><hr style="color:#157070;" />
    <div class="shadow-lg p-3 mb-5 rounded bg-light">
        <h3>Hello</h3>
    </div>

   </div>


